global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend https-in
    bind *:443
    mode tcp
    tcp-request inspect-delay 10s
    tcp-request content accept if { req.ssl_hello_type 1 }
    acl is_sstp_vpn req.ssl_sni -i dnsname

    use_backend sstp if is_sstp_vpn
    default_backend redirect


backend sstp
    mode tcp
    option ssl-hello-chk
    server sstp_server 127.0.0.1:30001

backend redirect
    mode tcp
    server ws_server 127.0.0.1:8443
